adf/templates/adf_td_training_demo/adf_td_training_demo.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"adls_ls": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/adf_td_training_demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullParCopy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Flight#",
											"type": "String"
										},
										"sink": {
											"name": "FlightNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Origin",
											"type": "String"
										},
										"sink": {
											"name": "Origin",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dest",
											"type": "String"
										},
										"sink": {
											"name": "Dest",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FlightDate",
											"type": "String"
										},
										"sink": {
											"name": "FlightDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NoSalesReason",
											"type": "String"
										},
										"sink": {
											"name": "NoSalesReason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TransmittingFlightAttd",
											"type": "String"
										},
										"sink": {
											"name": "TransmittingFlightAttd",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "flat_file_source_ds",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "flat_par_sink1_ds",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "flatToJsonCopy3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "partialflatfile2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Flight#",
											"type": "String"
										},
										"sink": {
											"path": "$['FlightNo']"
										}
									},
									{
										"source": {
											"name": "Origin",
											"type": "String"
										},
										"sink": {
											"path": "$['Origin']"
										}
									},
									{
										"source": {
											"name": "Dest",
											"type": "String"
										},
										"sink": {
											"path": "$['Dest']"
										}
									},
									{
										"source": {
											"name": "FlightDate",
											"type": "String"
										},
										"sink": {
											"path": "$['FlightDate']"
										}
									},
									{
										"source": {
											"name": "NoSalesReason",
											"type": "String"
										},
										"sink": {
											"path": "$['noSalesReason']"
										}
									},
									{
										"source": {
											"name": "TransmittingFlightAttd",
											"type": "String"
										},
										"sink": {
											"path": "$['TransmittingFlightAttd']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "flat_file_source_ds",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "json_file_sink3_ds",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "partialflatfile2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FullParCopy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Flight#",
											"type": "String"
										},
										"sink": {
											"name": "Flight"
										}
									},
									{
										"source": {
											"name": "Origin",
											"type": "String"
										},
										"sink": {
											"name": "Origin"
										}
									},
									{
										"source": {
											"name": "Dest",
											"type": "String"
										},
										"sink": {
											"name": "Dest"
										}
									},
									{
										"source": {
											"name": "FlightDate",
											"type": "String"
										},
										"sink": {
											"name": "FlightDate"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "flat_file_source_ds",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "flat_csv_sink2_ds",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "makeDataPartitioned",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "flatToJsonCopy3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "makeDataPartitioned",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/flat_file_source_ds')]",
				"[concat(variables('factoryId'), '/datasets/flat_par_sink1_ds')]",
				"[concat(variables('factoryId'), '/datasets/json_file_sink3_ds')]",
				"[concat(variables('factoryId'), '/datasets/flat_csv_sink2_ds')]",
				"[concat(variables('factoryId'), '/dataflows/makeDataPartitioned')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/flat_file_source_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('adls_ls')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "nosales.txt",
						"folderPath": "input",
						"fileSystem": "hg250013"
					},
					"columnDelimiter": "^",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Flight#",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "Dest",
						"type": "String"
					},
					{
						"name": "FlightDate",
						"type": "String"
					},
					{
						"name": "NoSalesReason",
						"type": "String"
					},
					{
						"name": "TransmittingFlightAttd",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/flat_par_sink1_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('adls_ls')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output1",
						"fileSystem": "hg250013"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "FlightNo",
						"type": "UTF8"
					},
					{
						"name": "Origin",
						"type": "UTF8"
					},
					{
						"name": "Dest",
						"type": "UTF8"
					},
					{
						"name": "FlightDate",
						"type": "UTF8"
					},
					{
						"name": "NoSalesReason",
						"type": "UTF8"
					},
					{
						"name": "TransmittingFlightAttd",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/json_file_sink3_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('adls_ls')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output3",
						"fileSystem": "hg250013"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/flat_csv_sink2_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('adls_ls')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output2",
						"fileSystem": "hg250013"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Flight",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "Dest",
						"type": "String"
					},
					{
						"name": "FlightDate",
						"type": "String"
					},
					{
						"name": "NoSalesReason",
						"type": "String"
					},
					{
						"name": "TransmittingFlightAttd",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/makeDataPartitioned')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "flat_file_source_ds",
								"type": "DatasetReference"
							},
							"name": "FlatSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "csv_partitioned_ds",
								"type": "DatasetReference"
							},
							"name": "sink4"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\t{Flight#} as string,\n\t\tOrigin as string,\n\t\tDest as string,\n\t\tFlightDate as string,\n\t\tNoSalesReason as string,\n\t\tTransmittingFlightAttd as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\twildcardPaths:['input/*']) ~> FlatSource\nFlatSource sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionBy('key',\n\t\t0,\n\t\tFlightDate\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink4"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/flat_file_source_ds')]",
				"[concat(variables('factoryId'), '/datasets/csv_partitioned_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_partitioned_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('adls_ls')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output4",
						"fileSystem": "hg250013"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}